*{
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
}
@media screen {
    
}
#container{
    width: 50rem;
    height: 70rem;
    /* min-height: 30rem; */
    /* border: 2px solid black; */
    /* box-shadow: .05rem .1rem .5rem .2rem inset; */
    padding: 1rem;
    /* background-color: gray; */
    background-image: url("images/tama-background.jpeg");
    background-size: 50rem;
    background-repeat: no-repeat;
}

#container h1{
    padding-left: 15rem;
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20rem;
    /* border: 2px solid black; */
    /* box-shadow: .05rem .1rem .5rem .2rem inset; */
    padding: 1rem;
}

.content img{
    border-radius: 1rem;
    width: 13.4rem;
    margin: 14.35rem 16.25rem 2rem 16.25rem;
}

.sleep{
    margin-left: 3rem;
    background-color: black;
    height: 13.3rem;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 0 15rem 0 18rem;
    margin: 0 5rem 10rem 0;
    /* align-items: center; */
    /* padding-top: 2rem; */
}

.buttons button{
    background-color: #e8d900;
    border-radius: 2rem;
    /* border: none; */
}
